
/*----------------------------------------------------------------
# header
----------------------------------------------------------------*/
.header {
	margin-top: 20px;
	color: #fff;
	text-align: center;
}

.header .logo {
	width: 100%;
	margin-bottom: 20px;
}

/*----------------------------------------------------------------
# modal
----------------------------------------------------------------*/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	padding: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	cursor: crosshair;
	z-index: 999;
	overflow: auto;
}

.modal.active {
	display: block;
}

.modal-content {
	margin: 20px auto;
	padding: 0;
	width: 50%;
	cursor: default;
}

.modal-content li,
.modal-content article {
	margin-bottom: 20px;
}

.modal-content img {
	width: 100%;
	background: #888;
}

@media (max-width: 768px) {
	.modal-content {
		width: 80%;
	}
}

/*----------------------------------------------------------------
# starbursts
----------------------------------------------------------------*/
.starbursts {
	position: absolute;
	left: -60px;
	bottom: -60px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 999;
	-webkit-transition: 1s;
	   -moz-transition: 1s;
		transition: 1s;
}

.starbursts:hover {
	left: 0;
	bottom: 0;

}

.starbursts div {
	position: relative;
	width: 6em;
	height: 6em;
	font-size: 2em;
}

.starbursts .starburst {
	display: block;
	width: 3.3em;
	height: 3.6em;
	position: relative;
	top: 1.5em;
	left: 1.5em;
	background: #ff0;
	color: #000;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.starbursts .starburst span {
	display: block;
	background: #ff0;
	-webkit-transform: rotate(22.5deg);
	   -moz-transform: rotate(22.5deg);
	                transform: 22.5deg;
}

.starbursts .starburst span:nth-child(1) {
	width: 3.7em;
	height: 3.3em;
}

.starbursts .starburst span:nth-child(2) {
	width: 3.4em;
	height: 3.2em;
}

.starbursts .starburst span:nth-child(3) {
	width: 3em;
	height: 3.9em;
}

.starbursts .starburst img {
	width: 48px;
	margin: 1em;
}

/*----------------------------------------------------------------
# helper
----------------------------------------------------------------*/
.helper {
	position: absolute;
	left: 0;
	bottom: 2em;
	height: auto;
	width: 100%;
	text-align: center;
	z-index: 999;
	-webkit-transition: 1s ease;
	   -moz-transition: 1s ease;
		transition: 1s ease;
}

.helper.fade {
	bottom: -4em;
}

.helper span {
	padding: .25em .5em;
	background: #ed3160;
	color: #fff;
	font-size: 18px;
}

@media (max-width: 768px) {
	.helper span {
		font-size: 8px;
	}
}
